<div class="widget newsletter-signup-form">
  <div class="title">
    <h3>Email Newsletter</h3>
  </div>
  <p>Sign up to receive content updates in your inbox.</p>
  <%= form_for @newsletter_signup, :url => newsletter_signups_path do |f| %>
    <%= f.text_field :name, :placeholder => "Your Name", :class => "form-control" %>
    <%= f.text_field :email, :placeholder => "and E-Mail", :class => "form-control" %>
    <%= f.submit "Sign Me Up", :class => "btn btn-primary btn-block" %>
  <% end %>
</div>
